.activeusercontainer {
    display: flex;
    gap: 20px;
  .selectfield {
    select {
      background: #FEF5EA;
      border: none;
      padding-right: 24px;
      border-radius: 8px;
      font-size: 14px;
      padding-top: 7.5px;
      padding-bottom: 7.5px;
      padding-left: 12px;
    }
  }
}
